@media(max-width:850px) {
    .header {
        flex-direction: column;
    }

    .logo .titulo {
        font-size: 20px;

    }

    .menu {
        flex-direction: column;
        margin-top: 30px;
    }

    .menu li {
        padding: 20px 0;

    }

    .menu li:last-child {
        margin-top: 5px;
    }
    
    .menu li a {
        font-size: 30px;
        padding: 17px 20px;

    }

    .menu li a.botao {
        padding: 15px 23px;
        font-size: 15px;
    }

}